:host {
  width: 150px; 
  height: 150px;
}
.card--custom {
  overflow: hidden;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.card--hiden {
  background-color: #3498db;
}
.card__img {
  width: 150px; 
  height: 150px;
  display: block;
}