@import './../../../../styles';
.score-container{
  span{
    font-size: 1.5rem;
    color: #555;
  }
}
.game-score {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.game-score__count {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5px;
}

.game-score__count {
  &--success{
    color: $color-success;
  }
  &--error{
    color: $color-error;
  }
}