/* You can add global styles to this file, and also import other style files */
$background: #fff;
$board-bg: #7209b7;
$card-bg: #4361ee;

$text-primary: #4895ef;
$text-white: #fff;

$color-success: #2ecc71;
$color-error: #e74c3c;
